.con {
  position: relative;
  width: 100%;
  padding-bottom: 31.25%;
  overflow: hidden; }

#inner-con {
  width: 500%;
  position: absolute;
  left: 0; }

#inner-con li {
  float: left;
  width: 20%; }

img {
  width: 100%;
  vertical-align: top; }

.btn span {
  position: absolute;
  width: 50px;
  height: 70px;
  display: inline-block;
  font-size: 2em;
  color: #fff;
  text-align: center;
  line-height: 70px;
  opacity: .7;
  cursor: pointer; }
  .btn span:hover {
    opacity: 1; }
.btn .left {
  left: 0;
  top: 50%;
  margin-top: -35px; }
.btn .right {
  right: 0;
  top: 50%;
  margin-top: -35px; }

#ol {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px); }
  #ol li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    float: left;
    margin: 0 4px; }

/*---------------------------banner--------------------------*/
.main-con {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 50px 0 0 0; }

.content-con {
  width: 1200px;
  margin: 0 auto; }

.con1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 50px auto; }

.con1-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 20px; }

.con1-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 170px;
  padding: 0 0 0 40px; }

.img1 {
  width: 43px;
  height: 62px;
  background: url(images-task14/m.png) -262px -10px no-repeat;
  transform: scale(0.8); }

.img2 {
  width: 60px;
  height: 48px;
  background: url(images-task14/m.png) -470px -10px no-repeat;
  transform: scale(0.8); }

.img3 {
  width: 52px;
  height: 55px;
  background: url(images-task14/m.png) -325px -10px no-repeat;
  transform: scale(0.8); }

.im {
  display: flex; }

.img4 {
  width: 13px;
  height: 13px;
  background: url(images-task14/m.png) -10px -10px no-repeat;
  transform: scale(1); }

.img4t {
  display: block;
  color: #218c60;
  font-size: .8em;
  font-weight: bold; }

.tx1 {
  font-size: 1.05em;
  font-weight: bolder; }

.tx2 {
  width: 180px;
  height: 48px;
  font-size: .8em;
  color: #808080; }

.border {
  width: 1px;
  height: 240px;
  border-left: 1px dashed #DEDEDE;
  padding-right: 0; }

/*---------------------------con1--------------------------*/
.con2 {
  margin: 20px auto; }

.con2-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.con2-1-1 {
  display: flex;
  align-items: center;
  margin: 20px 0; }

.con2-tx {
  font-size: 1.1em;
  font-weight: bolder;
  text-align: center;
  margin: 20px 0 5px 0; }

.circle {
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: #999 0 0 2px 1px;
  margin-right: 10px; }

.num {
  font-size: 1.1em;
  color: #218c60;
  text-align: center;
  line-height: 68px;
  font-weight: bolder; }

.con2-tx1 {
  font-size: .8em;
  color: #808080;
  width: 130px; }

.con2-img {
  width: 28px;
  height: 25px;
  background: url(images-task14/m.png) -214px -10px no-repeat;
  transform: scale(0.8); }

.con2-img1 {
  width: 28px;
  height: 25px;
  background: url(images-task14/m.png) -214px -10px no-repeat;
  transform: scale(0.8); }

/*---------------------------con2--------------------------*/
.con3 {
  margin: 20px auto; }

.con3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0; }

.con3-1-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 240px;
  height: 320px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #E2E2E2 0 0 3px 1px; }

.con3-img1 {
  width: 108px;
  height: 108px;
  background: url(images-task14/m.png) -918px -10px no-repeat;
  transform: scale(0.9); }

.con3-img2 {
  width: 108px;
  height: 108px;
  background: url(images-task14/m.png) -790px -10px no-repeat;
  transform: scale(0.9); }

.con3-img3 {
  width: 108px;
  height: 108px;
  background: url(images-task14/m.png) -1046px -10px no-repeat;
  transform: scale(0.9); }

.con3-img4 {
  width: 108px;
  height: 108px;
  background: url(images-task14/m.png) -1174px -10px no-repeat;
  transform: scale(0.9); }

.con3-tx1 {
  font-size: 1.15em;
  font-weight: bold; }

.con3-tx2 {
  font-size: .86em;
  color: #808080;
  width: 170px; }

.con3-c {
  display: flex;
  width: 100px;
  margin: 0 auto 30px calc(50% - 36px); }

.con3-c1 {
  width: 13px;
  height: 13px;
  margin: 3px;
  border-radius: 50%;
  box-shadow: #E2E2E2 0 0 2px 1px; }

.bg-green {
  background-color: #218c60; }

.bg-white {
  background-color: #fff; }

/*---------------------------con3--------------------------*/
.con4 {
  margin: 20px auto; }

.con4-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto; }

.con4-1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 170px;
  background-color: #fff; }

.con4-1-1:hover {
  box-shadow: #E2E2E2 1px 1px 3px 1px;
  z-index: 20; }

.con4-img1 {
  width: 144px;
  height: 53px;
  background: url(images-task14/m.png) -1902px -10px no-repeat;
  transform: scale(0.9); }

.con4-img2 {
  width: 53px;
  height: 58px;
  background: url(images-task14/m.png) -397px -10px no-repeat;
  transform: scale(0.9); }

.con4-img3 {
  width: 134px;
  height: 48px;
  background: url(images-task14/m.png) -1589px -10px no-repeat;
  transform: scale(0.9); }

.con4-img4 {
  width: 169px;
  height: 39px;
  background: url(images-task14/m.png) -2066px -10px no-repeat;
  transform: scale(0.9); }

.con4-img5 {
  width: 125px;
  height: 56px;
  background: url(images-task14/m.png) -1448px -10px no-repeat;
  transform: scale(0.9); }

/*---------------------------con4--------------------------*/
.con5 {
  padding: 10px 0; }

.con5-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto; }

.con5-1-1 {
  display: flex;
  align-items: center; }

.con5-c {
  width: 3px;
  height: 3px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #808080; }

.con5-tx {
  font-size: .85em;
  color: #808080;
  width: 60px; }

.con5-tx:hover {
  text-decoration: underline; }

/*---------------------------con5--------------------------*/
@media screen and (min-width: 1200px) {
  .con3-1 {
    width: 1200px;
    justify-content: space-between; }

  .con4-1-1 {
    width: 240px; }

  .con5-1 {
    width: 1200px;
    justify-content: space-between; } }
@media screen and (max-width: 1200px) {
  .content-con {
    width: 980px; }

  .con3 .con3-1-1 {
    width: 210px;
    margin: 20px 5px; }

  .con4 .con4-1 {
    margin: 0; } }
@media (max-width: 1023px) {
  .content-con {
    width: 760px; }

  .border {
    display: none; }

  .con1 {
    width: 600px; }

  .con1-2 {
    box-sizing: border-box; }

  .con2 {
    width: 600px; }

  .con2-img1 {
    display: none; }

  .con3 {
    width: 600px; }

  .con3 .con3-1-1 {
    margin: 20px 20px; } }
@media (max-width: 767px) {
  .border {
    display: none; }

  .content-con {
    width: 600px; }

  .con1 {
    width: 260px; }

  .con1-2 {
    padding: 0 0 0 80px; }

  .con5-1 {
    width: 40%; } }
@media (max-width: 600px) {
  .content-con {
    width: 260px; }

  .con2 {
    width: 260px; }

  .con2-img {
    display: none; }

  .con3 {
    width: 260px; } }
/*---------------------------media-------------------------*/

/*# sourceMappingURL=task14-1.css.map */
