body{background-color:rgb(104,205,213) ;
    height: 2000px;}
.back{position: absolute;
    top:15px;
    left:15px;}
.uers{position: absolute;
    left:15vw;
    margin-top:255px;
    width: 80px;
    text-align:center;}
.bjptt{position: absolute;
    right:5vw;
    margin-top:255px;
    width: 80px;
    text-align:center;}
.text1{margin:100px auto 0px auto;
    width:130px;
    height: 50px;}
.text2{ margin:50px 10vw 30px 10vw;
    width:80vw;
    height: 50px;
    color: white;
    font-size: 1.05em;}
.text3{color: white;
    font-size: 1em;}